{% extends '../header.html' %}

{% block content %}

<main class="container mb-5 text-center center-screen container-fluid d-flex justify-content-center align-items-center vh-100" style="color: white;">
    <h1>Momentos De Full Metal Alchemist</h1>
    </main>
    
  
      
      <div class="container pb-3">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <!-- Recuadro que abarca casi todo el ancho de la pantalla -->
                <div class="custom-box p-3" style="color: aquamarine; background-color: rgb(59, 28, 87);">
                    <!-- Contenido de la caja -->
                    <ul>
                        <a href="/rezero/"><li>Re:Zero</li></a>
                        <a href="/yofukashi/"><li>Yofukashi No  Uta</li></a>
                        <a href="/shingeki/"><li>Shingeki No Kyojin</li></a>
                        <!-- Agrega más elementos <li> según sea necesario -->
                    </ul>
                    <ul>
                      <a href="/bocchi/"><li>Bocchi The Rock!</li></a>
                      <a href="/boku/"><li>Boku No Hero</li></a>
                      <a href="/fullmetal/"><li>Full Metal Alchemist</li></a>
                      <!-- Agrega más elementos <li> según sea necesario -->
                  </ul>
                  <ul>
                    <a href="/jujutsu/"><li>Jujutsu Kaisen</li></a>
                    <a href="/kaguya/"><li>Kaguya-sama</li></a>
                    <a href="/kimetsu/"><li>Kimetsu No Yaiba</li></a>
                    <!-- Agrega más elementos <li> según sea necesario -->
                </ul>
                <ul>
                  <a href="/kumo/"><li>Kumo Desu Ga Nani Ka?</li></a>
                  <a href="/oshi/"><li>Oshi No Ko</li></a>
                  <a href="/pokemon/"><li>Pokemon</li></a>
                  <!-- Agrega más elementos <li> según sea necesario -->
              </ul>
              
                </div>
            </div>
        </div>
      </div>

    {% for moment in card %}
    
    <main class="container mb-5 text-center center-screen container-fluid d-flex justify-content-center align-items-center vh-100">
    
    <div class="card" style="width: 60rem;">
        <div class="card-body">
    
            <h2 class="card-title" style="color: rgb(255, 255, 255);">Título: {{moment.title}}</h2>
    
          </div>
        <img class="card-img-top pr-3 pl-3" src="../media/{{moment.image}}" alt="Imagen acerca del capítulo">
        <div class="card-body">
          <h3 class="card-title" style="color: rgb(116, 111, 111);">Sinopsis: {{moment.sinopsis}}</h3>
          <h3 class="card-text" style="color: rgb(185, 176, 176);">Review: {{moment.review}}</h3>
          <a href="..{% url 'card_detail' moment.id %}" class="btn btn-primary">Editar</a>
        </div>
      </div>
    </main>

{% endfor %}

{% endblock %}