{% extends 'header.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-5 offset-md-4 pt-2">
            <h1 style="color: white;">Crear Momento</h1>

{{error}}
<div class="form-group rounded" style="background-color: #6c2e55; color: white;">
<form action="/moments/create/" method="POST" class="card- card-body h5" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    

    <button class="btn btn-primary mt-3 btn-lg">Guardar</button>

</form>
</div>
        </div>
    </div>
</main>
{% endblock %}