{% extends 'header.html' %}


{% block content %}
<div class="container mt-5">
<div class="card text-center pt-3">
    <div class="card-title">
      <h2>Bienvenido</h2>
    </div>
    <div class="card-body">
      <h4 class="card-title">Verás momentos de Series/Animes/Manga/Novelas que son una genialidad.</h4>
      <p class="card-text">Todo bajo mi criterio personal</p>
      <a href="#" class="btn btn-primary">Ver momentos</a>
    </div>
    <div class="card-footer">
      Hecho por Aarón
    </div>
  </div>
</div>

{% endblock %}