{% extends 'header.html' %}


{% block content %}
<style>
  .container{
    padding-top: 3rem;
  }
</style>
<div class="container mt-5">
<div class="card text-center pt-3">
    <div class="card-title">
      <h2 style="color: white;">Bienvenido</h2>
    </div>
    <div class="card-body">
      <h4 class="card-title" style="color: white;">Verás momentos de Series/Animes/Manga/Novelas que son una genialidad.</h4>
      <p class="card-text" style="color: white;">Todo bajo mi criterio personal</p>
      <a href="/moments/" class="btn btn-primary">Ver momentos</a>
    </div>
    <div class="card-footer" style="color: white;">
      Hecho por Aarón
    </div>
  </div>
</div>

{% endblock %}